#select-city {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height));
  margin: auto;
  max-width: 500px;

  .list {
    border: 1px solid #ced4da;
    overflow: auto;
    padding: .35rem;
    border-radius: .25rem;

    .list-item {
      height: 30px;
      line-height: 30px;
      color: #000;
      background-color: #fff;
      transition: background-color .25s ease-in-out, color .25s ease-in-out;

      &:not(.disabled):hover {
        color: #fff;
        background-color: #80bdff;
      }

      a {
        display: block;
        height: 100%;
        width: 100%;
        padding: 0 .25rem;
      }
    }
  }
}
